
<%= form_for @project do |f| %>

<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <% if @project.errors.any? %>
    <%= @project.errors.messages[:title][0] %>
    <% end %>
</p>

<p>
    <%= f.submit([@submit_title]) %>
</p>

<% end %>
