<%= image_tag(@project.image, width: 300) %>

<h1>お名前:<%= @project.title %></h1>
<ul>
  <li>

  私は<%= @project.join_nexway %>から@@@wayにいます。<br>
  得意分野:<%= @project.speciality %><br>
  過去:<%= @project.past_experience %><br>
  趣味:<%= @project.hobby %><br>
  好きな食べもの:<%= @project.favorite_food %><br>
  @@ルート時代:<%= @project.join_recruit %><br>
  mail:<%= @project.email_address %><br>
  内線番号:<%= @project.phone_number %><br>
  更新日:<%= @project.modified_at %><br>
  登録日:<%= @project.created_at %><br>
  </li>
</ul>
<ul>
  <% @project.tasks.each do |task| %>
  <li>
    <%= task.title %>
    <%= link_to "[Delete]", project_task_path(task.project_id, task.id), method: :delete, data: { confirm: "are you sure?" } %>
  </li>
  <% end %>
  <li>
    <%= form_for [@project, @project.tasks.build] do |f| %>
    <%= f.text_field :title %><br>
    <%= f.submit %><br>
    <%= @project.errors.inspect %><br>
    <% end %>
  </li>
</ul>
